/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote:before, blockquote:after {
    content: '';
    content: none; }
  
  q:before, q:after {
    content: '';
    content: none; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  html, body {
    width: 100%;
    font-family: "Yuanti TC";
    color: #fff; }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: .3s; }
  
  a:hover {
    color: #fff;
    transition: .3s;
    text-decoration: none; }
  
  img {
    width: 100%;
    vertical-align: bottom; }
  
  .l-header {
    height: 85px;
    width: 100%;
    background: #50775D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1; }
    @media screen and (max-width: 768px) {
      .l-header {
        height: 60px; } }
    .l-header__title {
      font-size: 30px;
      margin-left: 20px; }
      @media screen and (max-width: 768px) {
        .l-header__title {
          font-size: 25px;
          margin-left: 0; } }
    .l-header__menuTrigger {
      display: none;
      transition: all .4s;
      box-sizing: border-box;
      position: relative;
      width: 40px;
      height: 32px;
      z-index: 3; }
      @media screen and (max-width: 768px) {
        .l-header__menuTrigger {
          display: inline-block; } }
      .l-header__menuTrigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #000;
        border-radius: 4px; }
        .l-header__menuTrigger span:nth-of-type(1) {
          top: 0; }
        .l-header__menuTrigger span:nth-of-type(2) {
          top: 14px; }
        .l-header__menuTrigger span:nth-of-type(3) {
          bottom: 0; }
      .l-header__menuTrigger.active span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg); }
      .l-header__menuTrigger.active span:nth-of-type(2) {
        opacity: 0; }
      .l-header__menuTrigger.active span:nth-of-type(3) {
        transform: translateY(-15px) rotate(45deg); }
    .l-header__nav {
      display: block;
      line-height: 85px;
      padding-right: 70px;
      font-size: 18px;
      box-sizing: border-box; }
      @media screen and (max-width: 768px) {
        .l-header__nav {
          display: block;
          position: absolute;
          top: 0;
          right: -100%;
          background: rgba(255, 255, 255, 0.85);
          width: 100%;
          height: 100vh;
          padding-top: 50px;
          padding-right: 0;
          transition: .5s;
          text-align: center; }
          .l-header__nav.active {
            display: block;
            transition: .5s;
            transform: translateX(-100%);
            z-index: 2; } }
      .l-header__nav .l-header__list {
        display: flex;
        justify-content: space-between; }
        @media screen and (max-width: 768px) {
          .l-header__nav .l-header__list {
            color: #000;
            display: block; } }
        .l-header__nav .l-header__list .l-header__item {
          margin-right: 30px; }
          .l-header__nav .l-header__list .l-header__item .l-header__link {
            display: block;
            padding: 0 15px; }
            @media screen and (max-width: 768px) {
              .l-header__nav .l-header__list .l-header__item .l-header__link {
                color: #525354;
                font-size: 25px; } }
          .l-header__nav .l-header__list .l-header__item .l-header__link:hover {
            background: #5e8873; }
  
  .l-main {
    background: #87B278;
    width: 100%;
    min-height: 100vh;
    z-index: 0; }
    .l-main__container {
      width: 90%;
      margin: 0 auto;
      padding-top: 150px;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 414px) {
        .l-main__container {
          display: block;
          padding-top: 100px; } }
  
  .c-btn {
    background: #F8B549;
    padding: 20px 40px;
    border: none;
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 50px;
    border-bottom: 5px solid #a7844c;
    transition: .2s;
    box-sizing: border-box; }
  
  .c-btn:hover {
    margin-top: 3px;
    border-bottom: 2px solid #a7844c;
    transition: .2s;
    cursor: pointer; }
  
  .p-form {
    padding: 20px;
    background: #FAFBFC; }
    .p-form__label {
      color: #707070;
      font-size: 20px;
      margin-bottom: 10px;
      display: block; }
    .p-form__btn {
      margin: 0; }
  
  .p-target {
    width: 65%;
    margin: 20px auto;
    padding: 15px 20px;
    background: #87B278;
    border: #def135 5px solid;
    box-sizing: border-box; }
    @media screen and (max-width: 414px) {
      .p-target {
        width: 90%;
        padding: 10px 15px; } }
    .p-target__title {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 1.2; }
  
  .p-task {
    border: #707070 1px solid;
    border-radius: 5px; }
    .p-task__list {
      padding: 5px; }
      .p-task__list .far, .p-task__list .fas {
        font-size: 25px;
        color: #707070;
        width: 8%; }
      .p-task__list .fa-trash-alt {
        color: #D53030; }
      .p-task__list .fa-trash-alt:hover {
        color: #7a7a7a; }
      .p-task__list a[aria-expanded=true] > i {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        transition-duration: 0.3s; }
      .p-task__list a[aria-expanded=false] > i {
        transition-duration: 0.3s; }
      .p-task__list .p-task__editText {
        font-size: 25px;
        width: 60%;
        padding: 5px 10px;
        border: none; }
    .p-task__item li {
      font-size: 20px;
      color: #707070;
      padding: 5px;
      margin-bottom: 10px; }
  
  .p-top__wrap {
    width: 60%; }
    @media screen and (max-width: 414px) {
      .p-top__wrap {
        text-align: center;
        width: 100%; } }
    @media screen and (max-width: 414px) {
      .p-top__wrap button {
        display: none; } }
    .p-top__wrap br {
      display: none; }
      @media screen and (max-width: 414px) {
        .p-top__wrap br {
          display: block; } }
  
  .p-top__title {
    font-size: 100px;
    border-bottom: 3px solid #fff;
    display: inline-block; }
    @media screen and (max-width: 414px) {
      .p-top__title {
        font-size: 80px; } }

  .p-top__parag {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 100px; }
    .p-top__parag br {
      display: none; }
      @media screen and (max-width: 414px) {
        .p-top__parag br {
          display: block; } }
    @media screen and (max-width: 414px) {
      .p-top__parag {
        line-height: 1.5;
        margin-bottom: 10px;
        text-align: center;
        font-size: 25px; } }
  
  .p-top__img-wrap {
    width: 40%;
    height: 100%; }
    @media screen and (max-width: 414px) {
      .p-top__img-wrap {
        width: 100%; } }
    .p-top__img-wrap .p-top__img {
      width: 100%;
      display: block;
      height: 100%;
      margin-top: 120px; }
      @media screen and (max-width: 414px) {
        .p-top__img-wrap .p-top__img {
          margin-top: 50px;
          margin-bottom: 30px; } }
  
  .u-card_center {
    display: flex;
    align-items: center;
    justify-content: center; }
  
  .fav {
    font-size: 30px;
    float: right; }
  
  .fav:last-child {
    margin-right: 15px; }
  
  .u-sp-btn {
    display: none; }
    @media screen and (max-width: 414px) {
      .u-sp-btn {
        display: block;
        margin: 0 auto; } }
  
  .u-task-btn {
    padding: 15px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    float: right;
    transition: .3s; }
  
  .u-task-btn:hover {
    cursor: pointer;
    background: #dbdada;
    transition: .3s; }
  
  .u-delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  .u-padding-top {
      padding-top: 80px; }
      @media screen and (max-width: 414px) {
        .u-padding-top {
          padding-top: 60px; } }