.u-task-btn {
    padding: 15px 30px;
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    float: right;
    transition: .3s;
}
.u-task-btn:hover {
    cursor: pointer;
    background: rgb(219, 218, 218);
    transition: .3s;
}